{% extends "OpenEcolesFrontOfficeBundle:Accueil:index.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset("bundles/openecolestutorial/css/tutoriel.css") }}"/>
{% endblock %}
{% block section %}
    <h6>Liste des messages echangé avec {{ idauteur }} dest: {{ app.user.username }}</h6>
    {#On affiche la liste des messages de l'utilisateur#}
    <p id="conversation">

    </p>
    {# {% include "OpenEcolesUserBundle:Message:formulaire.html.twig" %} #}
    <input id="message" type="text"  >

{% endblock %}

{% block javascripts%}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset("bundles/openecolesuser/js/conversation.js") }}" ></script>
    <script type="text/javascript">

       // On recuprère l'URL d'envoie de messages
       urlpost= "{{ path("open_ecoles_user_envoie_messsage",
         {'idauteur':idauteur, 'iddestinataire': iddestinataire }) }}";

       // URL de consultation de message
       urlreceive="{{path("open_ecoles_user_consulte_messsage",
                {'idauteur':app.user.id, 'iddestinataire':iddestinataire }) }}";

       initializeVar(urlpost, urlreceive);
      // on ecoute les envoies de messages
       postListener();
       // On ecoute les notifications de messages
       setMessageListener();

    </script>
{% endblock %}
