{% extends "OpenEcolesFrontOfficeBundle:Accueil:index.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset("bundles/openecolestutorial/css/tutoriel.css") }}"/>
{% endblock %}
{% block section %}
    <h6>Liste des messages reçus par {{ app.user.username }}</h6>
    {#On affiche la liste des messages de l'utilisateur#}

    {% for message in messages %}
        <p>{{ message.date|date('d/m/Y H:i:s')}}"   "
            <a href="{{ path("open_ecoles_user_conversation_messsage",
            {'idauteur':app.user.id, 'iddestinataire': message.auteur.id }) }}">
                {{ message.auteur.username}}</a>"   "
            {{ message.contenu}}
        </p>

    {% else %}
        <p>Votre boite de reception est vide</p>
    {% endfor %}
    {# {% include "OpenEcolesUserBundle:Message:formulaire.html.twig" %} #}
{% endblock %}

{% block javascripts%}
    {{ parent() }}
    <script type="text/javascript">
        $("#detailmessage").click(function(){
            $.ajax({
                type:"POST",
            {# url: "{{ path("open_ecoles_user_conversation_messsage",{'idauteur':user.id }) }}",#}
                data:{
                    //'idauteur':{{ user.id }}

                },
                success:function(data){
                    $('sel').load('visualiserConversation.html.twig');//,{ id:50, nom: 'durand'});
                },
                error: function() {
                    alert('La requête n\'a pas abouti'); }
            });
        });
    </script>
{% endblock %}