{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent()}}
    <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset("bundles/openecolesfrontoffice/css/style.css") }}"/>
{% endblock %}

{% block entete %}

    <section class="research">
        <div class="input-group">
            <input type="text" placeholder="Votre recherche" class="form-control">
            <input type="button" value="Rechercher" class="button-recherche"/>
        </div>
    </section>

    <section class="utilisateur">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                Bienvenue {{ app.user.username }}<a href="#" class="déploiment"> + </a> <br/><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">Se Connecter</a>
            {% endif %}

    </section>
{% endblock %}

{% block body %}
<section style="margin-top: 1%;">
    <nav>
        {{ render(controller("OpenEcolesFrontOfficeBundle:Accueil:navigationHorizontale")) }}
    </nav>
    <section id="content">
        <nav id="menu">
            {{ render(controller("OpenEcolesFrontOfficeBundle:Accueil:navigationVerticale")) }}

        </nav>
        {%block section%}
        {%endblock%}
    </section>
    {% block recommandation %}
        <section id="recommandation">
                Syst&egrave;me de recommandation
        </section>
    {% endblock %}
</section>

<aside>
</aside>
{% endblock %}

{% block footer %}
<section class="frontfooter">
    <article>
        Qui sommes nous? | conditions d'utiiations | partenaires | contact
    </article>
    <article>
        &reg;Copyright OpenEcoles 2013 tout droits r&eacute;serv&eacute;s
    </article>
</section>
{% endblock %}

{% block javascripts %}
{% endblock %}