{% extends "OpenEcolesFrontOfficeBundle:Accueil:index.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset("bundles/openecolestutorial/css/tutoriel.css") }}"/>
{% endblock %}

{% block section %}
    {% if unitetext.getChapitre.getParent is null %}
        <a href="{{ path("open_ecoles_tutorial_ajout_chapitre",{'id':unitetext.getChapitre.getId}) }}" >Ajouter un chapitre</a><br/>
    {% endif %}
    {% if app.user == unitetext.getChapitre.getTutoriel.getAuteur() %}
    <a href="{{ path("open_ecoles_tutorial_modifier_chapitre",{'id':unitetext.getChapitre.getId})}}">Modifier</a><br/>
    {% endif %}
    <article>
        <header>
            <h3>{{ unitetext.getChapitre.getTitre }}</h3>
        </header>
        <section>
             <section>
                 {{ unitetext.getContenu|raw }}
             </section>
             <section>
                {{ render(controller("OpenEcolesTutorialBundle:Chapitre:affichageChapitreSection",{'id':unitetext.getChapitre.getId})) }}
             </section>
        </section>
        <footer>
            <br/>
            <a href="">Précédent</a>    <a href="">Suivant</a>
        </footer>
    </article>
{% endblock %}