{% extends "OpenEcolesFrontOfficeBundle:Accueil:index.html.twig" %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset("bundles/openecolesopenseance/css/openseance.css") }}"/>

{% endblock %}

{% block title %}
{{ parent() }}
    - OpenSeances
{% endblock %}

{%  block section %}
    voici l'ensemble des openSeances que nous avons sur le site.
    {% for openseance in openseances %}
        <article class="openseanceResume">
            <header>
                <section class="openseancetitre">
                    <h3>{{ openseance.getTitre() }}</h3>
                </section>
                <section class="openseanceduree">
                    par {{ openseance.getOrganisateur() }} De {{ openseance.getDateDebut()|date("d-m-Y h:i") }} à {{ openseance.getDateFin()|date("d-m-Y h:i") }}
                </section>
            </header>
            <footer>
                <a href="{{ path("open_ecoles_open_seance_detail",{'id':openseance.getId()}) }}">Detail</a>
            </footer>
        </article>
    {% endfor %}
{% endblock %}